/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* 💅 Stylesheet for this babay
💅 Stylesheet for this babay
💅 Stylesheet for this babay
💅 Stylesheet for this babay
💅 Stylesheet for this babay
💅 Stylesheet for this babay */
.container-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

.login-oswego-logo{
  height: auto; 
  width: auto; 
  max-width:25%;
  align-self: center;
  padding-top: 90px;
}

.login-quizmaker-logo{
  height: auto; 
  width: auto; 
  align-self: center;
}

.login-border{
  display: flex;
  justify-content:center;
  align-items: center;
  border-color: black;
  border-width: .5px;
  border-style: solid;
  border-radius: 0ex;
  background-color: #ffffff;
}


.header {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  font-weight: bold;
  color: #235937;
  font-family: Roboto;
}

.light-text {
  color: #808080;
  font-family: Roboto;
}

.create-quiz {
  font-family: Roboto;
  min-width: 20%;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: #8F0047;
}

.create-quiz:hover{
  background-color: #8F0047;
  color: white;
}

.subtitle {
  font-family: Roboto;
  color: #235937;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 10px;
  padding-bottom: 5px;
}

.rounded-corner {
  border-radius: 20px;
}

.courses-deck {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.card-deck .card{
  font-family: Roboto;
  margin: 20px;
  margin: 20px;
  flex: 1;
  margin-inline-end: 30px;
  margin-inline-start: 30px;
}

.course-card {
  font-family: Roboto;
  min-width: 240px;
  min-height: 150px;
  border-radius: 10px;
  max-height: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color:#595959;
  /* background-color: black; */
}

.regular-link {
  font-family: Roboto;
  text-decoration: none;
  color: white;
}

.regular-link:hover {
  text-decoration: none;
  color: white;
}

.nav-bar-style {
  height:70px;
  background-color:#235937;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Roboto;
  font-size: 25px;
}

.nav-bar-style .active{
  color: #FE9C02;
}

.small-spacer {
  padding: 1%;
}

.spacer {
  padding: 3%;
}

.quiztable{
  background: #f2f2f2;
  font-family: Roboto;
  font-weight: 100;
}




